<!-- Blog -->
<div id="blog" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Aside -->
      <aside id="aside" class="col-md-3">

        <!-- Search -->
        <div class="widget">
          <div class="widget-search">
            <input class="search-input" type="text" placeholder="search">
            <button class="search-btn" type="button"><i class="fa fa-search"></i></button>
          </div>
        </div>
        <!-- /Search -->

        <!-- Category -->
        <div class="widget">
          <h3 class="title">{{'CONTENIDOS.CATEGORY' | translate}}</h3>
          <div class="widget-category">
            <a *ngFor="let item of categories |paginate: { itemsPerPage: 5, currentPage: page }" (click)="Selecter(item)">{{item.title}}</a>

          </div>
          <pagination-controls
            (pageChange)="page = $event"
            maxSize="5"
            previousLabel=""
            nextLabel=""
            boundaryLinks="false"
          >

          </pagination-controls>
        </div>
        <!-- /Category -->



        <!-- Tags -->
        <div class="widget">
          <h3 class="title">Tags</h3>
          <div class="widget-tags">
            <a href="#">Web</a>
            <a href="#">Design</a>
            <a href="#">Graphic</a>
            <a href="#">Marketing</a>
            <a href="#">Development</a>
            <a href="#">Branding</a>
            <a href="#">Photography</a>
          </div>
        </div>
        <!-- /Tags -->
        <!-- Tags -->
        <div class="widget">
          <h3 class="title">&Uacute;tiles</h3>
          <div class="widget-tags">
            <a routerLink="/glosario">Glosario &nbsp;<i class="fa fa-book"></i></a>
            <a routerLink="/etica">Etica &nbsp;<i class="fa fa-hand-o-right" aria-hidden="true"></i></a>
          </div>

        </div>
        <!-- /Tags -->

      </aside>
      <!-- /Aside -->
      <!-- Main -->
      <main id="main" class="col-md-9">
        <div class="blog">
          <div class="blog-img">
            <img class="img-responsive" src="./img/blog-post.jpg" alt="">
          </div>
          <div class="blog-content" *ngIf="current">

            <h3>{{current.title}}</h3>
            <div [innerHtml] = "current.content"></div>
          </div>

          <!-- blog tags -->
          <div class="blog-tags">
            <h5>Tags :</h5>
            <a href="#"><i class="fa fa-tag"></i>Web</a>
            <a href="#"><i class="fa fa-tag"></i>Design</a>
            <a href="#"><i class="fa fa-tag"></i>Marketing</a>
            <a href="#"><i class="fa fa-tag"></i>Development</a>
            <a href="#"><i class="fa fa-tag"></i>Branding</a>
            <a href="#"><i class="fa fa-tag"></i>Photography</a>
          </div>
          <!-- blog tags -->






        </div>
      </main>
      <!-- /Main -->




    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Blog -->
