<!-- Blog -->
<div id="blog" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">
      <div class="section-header text-center">
        <h2 class="title">{{ 'CONTENIDO.TITLE' | translate }}</h2>
      </div>

      <!-- Aside -->
      <aside id="aside" class="col-md-3">

        <!-- Search -->
        <div class="widget">
          <ul class="collapsible">
            <li>
              <div class="collapsible-header">{{'CONTENIDOS.CATEGORY' | translate}}</div>
              <div class="collapsible-body">
                <a *ngFor="let item of categories |paginate: { itemsPerPage: 5, currentPage: page }" (click)="Selecter(item)" [ngClass]="{'active': item.title === current.title, 'search-result': result}">{{item.title}}</a>
                <pagination-controls
                  (pageChange)="page = $event"
                  maxSize="5"
                  previousLabel=""
                  nextLabel=""
                  boundaryLinks="false"
                >

                </pagination-controls>
              </div>
            </li>
            <li>
              <div class="collapsible-header">{{'CONTENIDO.GLOSSARY' | translate}}</div>
              <div class="collapsible-body">
                <a routerLink="/glosario">{{'CONTENIDO.GLOSSARY' | translate}} &nbsp;<i class="fa fa-book"></i></a>

              </div>
            </li>
            <li>
              <div class="collapsible-header">{{'CONTENIDO.ETHIC' | translate}}</div>
              <div class="collapsible-body">

                <a routerLink="/etica">{{'CONTENIDO.ETHIC' | translate}} &nbsp;<i class="fa fa-hand-o-right" aria-hidden="true"></i></a>
              </div>
            </li>
          </ul>
        </div>
        <!-- /Search -->

      </aside>
      <!-- /Aside -->
      <!-- Main -->
      <main id="main" class="col-md-9">
        <div class="blog">
          <div class="blog-img">
            <img class="img-responsive" src="./img/blog-post.jpg" alt="">
          </div>
          <div class="blog-content" *ngIf="current">

            <h3>{{current.title}}</h3>
            <div [innerHtml] = "current.content"></div>
          </div>
          </div>
      </main>
      <!-- /Main -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Blog -->
