<!-- Blog -->
<div id="blog" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">
      <div class="section-header text-center">
        <h2 class="title">{{ 'CONTENIDO.TITLE' | translate }}</h2>
      </div>

      <!-- Aside -->
      <aside id="aside" class="col-md-3">

        <!-- Search -->
        <div class="widget">
          <div class="widget-search">
          </div>
        </div>
        <!-- /Search -->
        <h3 class="title">{{'LIBRARY.THEMES' | translate}}</h3>
        <!-- Category -->
        <ul class="collapsible">
          <li >
            <div class="collapsible-header" (click)="Estado('preguntas')"  [ngClass]="{'active': estado === 'preguntas'}">{{'CONTENIDOS.CATEGORY' | translate}}</div>
            <div class="collapsible-body" ><ul>
              <li class="contenidos" *ngFor="let item of categories  |paginate: { itemsPerPage: 5, currentPage: page }">
                <a class="contenidos" (click)="Selecter(item)" [ngClass]="{'active': item.title === current.title, 'search-result': result}">{{item.title}}</a>

              </li>
            </ul>
              <pagination-controls
                (pageChange)="page = $event"
                maxSize="5"
                previousLabel=""
                nextLabel=""
                boundaryLinks="false"
              >

              </pagination-controls></div>
          </li>
          <li>
            <div class="collapsible-header" (click)="Estado('glossary')"  [ngClass]="{'active': estado === 'glossary'}">{{'CONTENIDO.GLOSSARY' | translate}}</div>
            <div class="collapsible-body">
              <ul>
                <li class="contenidos"  *ngFor="let item of glossary" >
                  <a class="glosary contenidos"  (click)="setTerm(item)" [ngClass]="{'active': item.index === term1.index}"><i class="fa fa-tag"></i> {{item.index}}</a>

                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header" (click)="Estado('ethic')"  [ngClass]="{'active': estado === 'ethic'}">{{'CONTENIDO.ETHIC' | translate}}</div>
            <div class="collapsible-body" >
              <ul>
                <li class="contenidos" *ngFor="let item of books ">
          <a class="contenidos" (click)="ReadBook(item)" [ngClass]="{'active': item.title === term.title}">{{item.title}}</a>

        </li>
        </ul>
       </div>
          </li>
        </ul>

      </aside>
      <!-- /Aside -->
           <!-- Main -->
      <main id="main" style="margin-top: -4px" class="col-md-9" *ngIf="estado=='preguntas'">
        <div class="blog">
          <div class="blog-img">
            <img class="img-responsive" src="./img/blog-post.jpg" alt="">
          </div>
          <div class="blog-content" *ngIf="current">

            <h3>{{current.title}}</h3>
            <div [innerHtml] = "current.content"></div>
          </div>
        </div>
      </main>

      <main id="main1" class="col-md-9" *ngIf="estado=='glossary'">
        <div class="blog">

          <div class="blog-content" *ngIf="term">
            <div class="row border-dark" *ngFor="let item of term1.words">
              <div class="col-md-6">
                <p class="name">{{item.name}}</p>
              </div>
              <div class="col-md-6">
                {{item.description}}
              </div>
            </div>
          </div>








        </div>
      </main>

      <main id="main2" class="col-md-9" *ngIf="estado=='ethic'">
        <div class="blog">

          <div class="blog-content etica">

            <h3>{{term.title}}</h3>
            <div class="progress"  *ngIf="!isLoaded">
              <div class="indeterminate"></div>
            </div>
            <div *ngIf="isLoaded" style="text-align: center;">
              <button class="btn waves-effect waves-light brown" (click)="prevPage()" [disabled]="pointer === 1">{{'NAV.PREV' | translate}} &nbsp;<i class="mdi-av-skip-previous"></i></button>
              <span>{{ pointer }} / {{ pdfPages }}</span>
              <button class="btn waves-effect waves-light brown" (click)="nextPage()" [disabled]="pointer === pdfPages">{{'NAV.NEXT' | translate }} &nbsp;<i class="mdi-av-skip-next"></i></button>
            </div>

            <pdf-viewer src="./assets/pdf/{{term.url}}"
                        [show-all]="false"
                        [page]="pointer"
                        [render-text]="false"
                        (after-load-complete)="afterLoadComplete($event)"
            ></pdf-viewer>
          </div>
        </div>
      </main>
      <!-- /Main -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Blog -->
