<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<footer id="footer" class="sm-padding bg-dark" *ngIf="showFooter">-->

  <!--&lt;!&ndash; Container &ndash;&gt;-->
  <!--<div class="container">-->

    <!--&lt;!&ndash; Row &ndash;&gt;-->
    <!--<div class="row">-->

      <!--<div class="col-md-12">-->

        <!--&lt;!&ndash; footer logo &ndash;&gt;-->
        <!--<div class="footer-logo">-->
          <!--<img style="width: 29%" src="./assets/images/citmatel.jpg" alt="">-->
        <!--</div>-->
        <!--&lt;!&ndash; /footer logo &ndash;&gt;-->

        <!--&lt;!&ndash; footer follow &ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="footer-follow">&ndash;&gt;-->
          <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-facebook"></i></a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-twitter"></i></a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-google-plus"></i></a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-instagram"></i></a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-linkedin"></i></a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-youtube"></i></a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash; /footer follow &ndash;&gt;-->

        <!--&lt;!&ndash; footer copyright &ndash;&gt;-->
        <!--<div class="footer-copyright">-->
          <!--<p>{{'FOOTER.COPY' | translate}}</p>-->
        <!--</div>-->
        <!--&lt;!&ndash; /footer copyright &ndash;&gt;-->

      <!--</div>-->

    <!--</div>-->
    <!--&lt;!&ndash; /Row &ndash;&gt;-->

  <!--</div>-->
  <!--&lt;!&ndash; /Container &ndash;&gt;-->

<!--</footer>-->
<!--&lt;!&ndash; /Footer &ndash;&gt;-->
