<div class="body3">
  <div class="body4">
    <div class="main">
      <!-- footer -->
      <footer>
        <div class="wrapper">
          <section class="col1 pad_left1">
            <h3>Toll Free: <span>1-800 123 45 67</span></h3>
            Copyright &copy; <a href="#">Domain Name</a> All Rights Reserved<br>
            Design by <a target="_blank" href="http://www.templatemonster.com/">TemplateMonster.com</a></section>
          <section class="col2 pad_left1">
            <h3>Follow Us </h3>
            <ul id="icons">
              <li><a href="#" class="normaltip"><img src="assets/images/icon1.gif" alt=""></a></li>
              <li><a href="#" class="normaltip"><img src="assets/images/icon2.gif" alt=""></a></li>
              <li><a href="#" class="normaltip"><img src="assets/images/icon3.gif" alt=""></a></li>
              <li><a href="#" class="normaltip"><img src="assets/images/icon4.gif" alt=""></a></li>
              <li><a href="#" class="normaltip"><img src="assets/images/icon5.gif" alt=""></a></li>
            </ul>
          </section>
        </div>
        <!-- {%FOOTER_LINK} -->
      </footer>
      <!-- / footer -->
    </div>
  </div>
</div>
