<!-- Footer -->
<footer id="footer" class="sm-padding bg-dark" *ngIf="showFooter">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <div class="col-md-12">

        <!-- footer logo -->
        <div class="footer-logo">
          <a href=""><img src="./assets/images/citmatel.jpg" alt="logo"></a>
        </div>
        <!-- /footer logo -->

        <!-- footer follow -->
        <!--<ul class="footer-follow">-->
          <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
          <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
          <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
          <!--<li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
          <!--<li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
          <!--<li><a href="#"><i class="fa fa-youtube"></i></a></li>-->
        <!--</ul>-->
        <!-- /footer follow -->

        <!-- footer copyright -->
        <div class="footer-copyright">
          <p>{{'FOOTER.COPY' | translate}}</p>
        </div>
        <!-- /footer copyright -->

      </div>

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</footer>
<!-- /Footer -->
