<div class="body6">
  <div class="body1">
    <div class="body5">
      <div class="main">
        <!-- header -->
        <header>
          <h1><a routerLink="/home" id="logo">Deliccio Classic European Cuisine</a></h1>
          <nav>
            <ul id="top_nav">
              <li ><a routerLink="/home"><img src="assets/images/icon_1.gif" alt=""></a></li>
              <li ><a href="#"><img src="assets/images/icon_2.gif" alt=""></a></li>
              <li class="end"><a routerLink="/home"><img src="assets/images/icon_3.gif" alt=""></a></li>
            </ul>
            <app-search-input></app-search-input>
          </nav>
          <nav>
            <ul id="menu">
              <li routerLinkActive="active" *ngFor="let item of menu">
                <a routerLink="{{item.url}}"><i class="{{item.ico}}"></i>{{ item.name | translate}}</a>
              </li>

            </ul>
          </nav>
        </header>
        <!-- / header -->
        <!-- content -->
        <article id="content">
          <div class="slider_bg">
            <div class="slider">
              <ui-carousel [infinite]="false" [fade]="true" [speed]="900" height="300px" width="700px">
                <ui-carousel-item>
                  <img ui-lazy-load="assets/images/img1.jpg" alt="" draggable="false">
                  <div class="banner"> <strong>Italian<span>Fettuccine</span></strong> <b>Dish of the Day</b>
                    <p> <span>Lorem ipsum dolamet consectetur<br>
                      adipisicing elit, sed do eiusmod tempor aliqua enim ad minim veniam, quis nosinci- didunt ut labore et dolore.</span> </p>
                  </div>
                </ui-carousel-item>
                <ui-carousel-item>
                  <img ui-lazy-load="assets/images/img2.jpg" alt="" draggable="false">
                  <div class="banner"> <strong>succulent<span>meat</span></strong> <b>Dish of the Day</b>
                    <p> <span>Lorem ipsum dolamet consectetur <br>
                      adipisicing elit, sed do eiusmod tempor aliqua enim ad minim veniam, quis nosinci- didunt ut labore et dolore.</span> </p>
                  </div>
                </ui-carousel-item>
                <ui-carousel-item>
                  <img ui-lazy-load="assets/images/img3.jpg" alt="" draggable="false">
                  <div class="banner"> <strong>French-Style<span>Tartlet</span></strong> <b>Dish of the Day</b>
                    <p> <span>Lorem ipsum dolamet consectetur <br>
                      adipisicing elit, sed do eiusmod tempor aliqua enim ad minim veniam, quis nosinci- didunt ut labore et dolore.</span> </p>
                  </div>
                </ui-carousel-item>
              </ui-carousel>
            </div>
          </div>


          <div class="wrap">
            <section class="cols">
              <div class="box">
                <div>
                  <h2>Welcome <span>to Us!</span></h2>
                  <figure><img src="assets/images/page1_img1.jpg" alt="" ></figure>
                  <p class="pad_bot1">This Deliccio Template goes with two packages – with PSD source files and without them. PSD source is available for free for the registered members.</p>
                  <a href="#" class="button1">Read More</a> </div>
              </div>
            </section>
            <section class="cols pad_left1">
              <div class="box">
                <div>
                  <h2>About <span>Us</span></h2>
                  <figure><img src="assets/images/page1_img2.jpg" alt="" ></figure>
                  <p class="pad_bot1">This is one of free website templates created by TemplateMonster.com team. This website template is optimized for 1024x768 screen res.</p>
                  <a href="#" class="button1">Read More</a> </div>
              </div>
            </section>
            <section class="cols pad_left1">
              <div class="box">
                <div>
                  <h2>Our <span>Services</span></h2>
                  <figure><img src="assets/images/page1_img3.jpg" alt="" ></figure>
                  <ul class="list1 pad_bot1">
                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="#">Consectetur adipisicing elit sed</a></li>
                    <li><a href="#">Eiusmod tempor incididunt labore</a></li>
                    <li><a href="#">Ut enim ad minim veniam</a></li>
                  </ul>
                  <a href="#" class="button1">Read More</a> </div>
              </div>
            </section>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
