.navbar-brand.black-layer {
  color: rgba(0,0,0,0.8);
  background-color: #0b0b0b;
}
.bg-img .overlay {

  background: #66512c;
  opacity: 0.8;
}
.home-content h1 {
  text-transform: uppercase;
  font-size: 30px !important;
}
button:focus {
  outline: none;
  background-color: burlywood;
}
.white-text {
  color: rgb(255, 255, 102) !important;
}
.main-nav.nav.navbar-nav.navbar-right{
  color: rgb(255, 255, 102) !important;

}

#nav {
  padding: 10px 0px;
  background: rgb(144,128,88);
  overflow: visible;
}
.sailor{
  position: fixed;
  left: 0;
  right: 0;
  padding: 0px 0px;
  background-color: rgb(144,128,88) !important;
  border-bottom: none !important;
}

#home.no-vh{
  height: 5vh;
}


@media only screen and (min-width: 768px) {

  .main-nav > li > a:after {

    background-color: rgb(144,128,88);
  }
  #nav.nav-transparent:not(.fixed-nav) .main-nav>li>a {
    color: rgb(255, 255, 102) !important;
  }
  .main-nav>li>a:hover, .main-nav>li>a:focus, .main-nav>li.active>a {
    background: transparent;
    /*color: rgb(144,128,88);*/
    font-weight: 700;
    color: #66512c;
  }
  .dropdown li a {
    display: block;
    color: #FFF;
    border-top: 1px solid rgba(250, 250, 250, 0.1);
    padding: 10px 0px;
  }
  .dropdown li:nth-child(1) a {
    border-top: none;
  }
  .has-dropdown:hover>.dropdown {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px) translateX(50%);
    -ms-transform: translateY(0px) translateX(50%);
    transform: translateY(0px) translateX(50%);
  }
  .has-dropdown:hover>a:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@media (min-width: 992px){

          .col-md-12 {
             width: 50% ;
             float: none;
          }
}

