<header id="home" *ngIf="showHeader">
  <!-- Background Image -->
  <div class="bg-img" style="background-image: url('./assets/images/background1.jpg');">
    <div class="overlay"></div>
  </div>
  <!-- /Background Image -->

  <!-- Nav -->
  <nav id="nav" class="navbar nav-transparent">
    <div class="container">

      <div class="navbar-header">
        <!-- Logo -->
        <div class="navbar-brand">
          <a routerLink="/home">
            <img class="logo" src="./assets/images/logo.png" alt="logo">
            <img class="logo-alt" src="./assets/images/logo-alt.png" alt="logo">
          </a>
        </div>
        <!-- /Logo -->
        <!-- Logo -->
        <div class="navbar-brand">
          <app-search-input (search)="launchSearch($event)"></app-search-input>
        </div>
        <!-- /Logo -->
        <!-- Collapse nav button -->
        <div class="nav-collapse">
          <span></span>
        </div>
        <!-- /Collapse nav button -->
      </div>

      <!--  Main navigation  -->
      <ul class="main-nav nav navbar-nav navbar-right">
          <li *ngFor="let item of menu" routerLinkActive="active"><a  routerLink="{{item.url}}">{{item.name | translate}}</a></li>
      </ul>
      <!-- /Main navigation -->

    </div>
  </nav>
  <!-- /Nav -->
  <!-- home wrapper -->
  <div class="home-wrapper">
    <div class="container">
      <div class="row">

        <!-- home content -->
        <div class="col-md-10 col-md-offset-1">
          <div class="home-content">
            <h1 class="white-text">{{ 'HOME.DESCRIPTION' | translate }}</h1>
            <p class="white-text">  {{ 'HOME.MORE' | translate }}      </p>
            <button class="white-btn">{{'NAV.CONTENT' | translate}}</button>
          </div>
        </div>
        <!-- /home content -->

      </div>
    </div>
  </div>
  <!-- /home wrapper -->
</header>

<!-- Header -->
<header *ngIf="!showHeader">

  <!-- Nav -->
  <nav id="nav" class="navbar">
    <div class="container">

      <div class="navbar-header">
        <!-- Logo -->
        <div class="navbar-brand">
          <a routerLink="/home">
            <img class="logo" src="./assets/images/logo.png" alt="logo">
            <img class="logo-alt" src="./assets/images/logo-alt.png" alt="logo">
          </a>
        </div>
        <!-- /Logo -->
        <!-- Logo -->
        <div class="navbar-brand black-layer">
          <app-search-input (search)="launchSearch($event)"></app-search-input>
        </div>
        <!-- /Logo -->

        <!-- Collapse nav button -->
        <div class="nav-collapse">
          <span></span>
        </div>
        <!-- /Collapse nav button -->
      </div>

      <!--  Main navigation  -->
      <ul class="main-nav nav navbar-nav navbar-right">
        <li *ngFor="let item of menu" routerLinkActive="active"><a routerLink="{{item.url}}">{{item.name | translate}}</a></li>

      </ul>
      <!-- /Main navigation -->

    </div>
  </nav>
  <!-- /Nav -->


</header>
<!-- /Header -->
