.title:after {
  content: "";
  display: block;
  height: 4px;
  width: 40px;
  background-color:  rgb(144,128,88);
  margin-top: 20px;
}
.section-header {
  margin-bottom: -75px;
  margin-top: 90px;
}

.carousel .carousel-item{
  height: auto;
}

.title:after {
  content: "";
  display: block;
  height: 4px;
  width: 40px;
  background-color:  rgb(144,128,88);
  margin-top: 20px;
}
.collection .collection-item.active {
  background-color: rgb(144,128,88);
  color: rgb(255, 255, 102);
  cursor: pointer;
  font-weight: 700;
}
.collection .collection-item:hover{
  cursor: pointer;
  font-weight: 700;
}
.section-header.text-center {
  margin-top: 8em;
}
