<!-- Blog -->
<div id="blog" class="section md-padding bg-grey" *ngIf="!readMode">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">Recents news</h2>
      </div>
      <!-- /Section header -->

      <!-- blog -->
      <div class="col-md-4" *ngFor="let item of content">
        <div class="blog">
          <div class="blog-img">
            <img class="img-responsive" src="./assets/images/blog1.jpg" alt="">
          </div>
          <div class="blog-content">
            <h3>{{ item.title }}</h3>
            <a (click)="openRead(item, !readMode, '')">Read more</a>
          </div>
        </div>
      </div>
      <!-- /blog -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Blog -->
<!-- Blog -->
<div id="blogr" class="section md-padding" *ngIf="readMode">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">
      <a (click)="openRead(readItem, !readMode, '')" ><i class="fa fa-backward"></i></a>
      <!-- Main -->
      <main id="main" class="col-md-9" [innerHtml]="readItem.content | liteSearch: searchString">

      </main>
      <!-- /Main -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div >
<!-- /Blog -->
