<!-- Blog -->
<div id="blog" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">
      <div class="section-header text-center">
        <h2 class="title">{{ 'CONTENIDO.TITLE' | translate }}</h2>
      </div>

      <!-- Aside -->
      <aside id="aside" class="col-md-3">

        <!-- Search -->
        <div class="widget">
          <div class="widget-search">
            <!--<input class="search-input" type="text" placeholder="search">-->
            <!--<button class="search-btn" type="button"><i class="fa fa-search"></i></button>-->
          </div>
        </div>
        <!-- /Search -->

        <!-- Category -->
        <div class="widget">
          <h3 class="title">{{'CONTENIDOS.CATEGORY' | translate}}</h3>
          <div class="widget-category">
            <a *ngFor="let item of categories |paginate: { itemsPerPage: 5, currentPage: page }" (click)="Selecter(item)" [ngClass]="{'active': item.title === current.title, 'search-result': result}">{{item.title}}</a>

          </div>
          <pagination-controls
            (pageChange)="page = $event"
            maxSize="5"
            previousLabel=""
            nextLabel=""
            boundaryLinks="false"
          >

          </pagination-controls>
        </div>
        <!-- /Category -->
        <div class="widget">
          <h3 class="title">&Uacute;tiles</h3>
          <div class="widget-tags">
            <a routerLink="/glosario">Glosario &nbsp;<i class="fa fa-book"></i></a>
            <a routerLink="/etica">Etica &nbsp;<i class="fa fa-hand-o-right" aria-hidden="true"></i></a>
          </div>

        </div>
        <!-- /Tags -->

      </aside>
      <!-- /Aside -->
      <!-- Main -->
      <main id="main" class="col-md-9">
        <div class="blog">
          <div class="blog-img">
            <img class="img-responsive" src="./img/blog-post.jpg" alt="">
          </div>
          <div class="blog-content" *ngIf="current">

            <h3>{{current.title}}</h3>
            <div [innerHtml] = "current.content"></div>
          </div>
        </div>
      </main>
      <!-- /Main -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Blog -->
