<!-- Blog -->
<div id="blog" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">


      <!-- Main -->
      <main id="main" class="col-md-9">
        <div class="blog">
          <!-- blog tags -->
          <div class="blog-tags">
            <h5>Tags :</h5>
            <a  *ngFor="let item of glossary" (click)="setItem(item)"><i class="fa fa-tag"></i>{{item.index}}</a>

          </div>
          <!-- blog tags -->
          <div class="blog-content" *ngIf="term">
            <div class="row border-dark" *ngFor="let item of term.words">
              <div class="col-md-6">
                {{item.name}}
              </div>
              <div class="col-md-6">
                {{item.description}}
              </div>
            </div>
          </div>








        </div>
      </main>
      <!-- /Main -->




    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Blog -->
