.widget-category a:hover {
  display: block;
  font-size: 14px;
  color: rgb(144,128,88);
  border-bottom: 1px solid #EEE;
  padding: 5px;
  cursor: pointer;
}
h3 {
  font-size: 1.92rem;
  line-height: 2.212rem;
  margin: 1.46rem 0 1.168rem 0;
}
.title:after {

  background-color: rgb(144,128,88);

}


.btn.focus, .btn:focus, .btn:hover {
  color: whitesmoke;
  text-decoration: none;
}
a.active{
  color: #FFF;
  background-color: rgb(144,128,88);
}
.ngx-pagination .current {

  background: rgb(144,128,88);

}
.widget-tags a:hover {
  color: yellow;
  background-color: rgb(144,128,88);
}
.widget-category a:hover {
  color: rgb(144,128,88);;
}
a.active:hover {
  color: #FFF !important;
}
