<div class="body2">
  <div class="main">
    <article id="content2">
      <div class="wrapper">
        <section class="col1 pad_left1">
          <h2>Upcoming Events</h2>
          <div class="wrapper">
            <div class="cols">
              <div class="wrapper pad_bot2">
                <figure class="left marg_right1"><img src="assets/images/page1_img4.jpg" alt=""></figure>
                <p> <a href="#">20.07. Sed perspiciatis</a><br>
                  Unde omnis iste natus error volu accusantium doloremque. </p>
              </div>
              <div class="wrapper">
                <figure class="left marg_right1"><img src="assets/images/page1_img5.jpg" alt=""></figure>
                <p> <a href="#">18.07. Quasi architecto</a><br>
                  Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem. </p>
              </div>
            </div>
            <div class="cols pad_left1">
              <div class="wrapper pad_bot2">
                <figure class="left marg_right1"><img src="assets/images/page1_img6.jpg" alt=""></figure>
                <p> <a href="#">11.07. Laudaum totam</a><br>
                  Rem aperiam, eaque ipsa quae ab illo inventore veritatis. </p>
              </div>
              <div class="wrapper">
                <figure class="left marg_right1"><img src="assets/images/page1_img7.jpg" alt=""></figure>
                <p> <a href="#">09.07. Volups asrnatur</a> <br>
                  Aut odit aut fugit, sed quia consequuntur magni dolores eos qui. </p>
              </div>
            </div>
          </div>
        </section>
        <section class="col2 pad_left1">
          <h2>Testimonials</h2>
          <ul class="testimonials">
            <li> <span>1</span>
              <p> “Remperam eaquepsa quae abillo inventore vertatis.” <img src="assets/images/signature1.jpg" alt=""> </p>
            </li>
            <li> <span>2</span>
              <p> “Quasi arctecto beatae vitae dicta sunt explicabo.” <img src="assets/images/signature2.jpg" alt=""> </p>
            </li>
            <li> <span>3</span>
              <p> “Nemo enim ipsam volupta<br>
                tem quia voluptas.”<img src="assets/images/signature3.jpg" alt=""> </p>
            </li>
          </ul>
        </section>
      </div>
    </article>
    <!-- / content -->
  </div>
</div>
