.title:after {
  background-color: rgb(144,128,88) !important;
}
.about:after {
  content: "";
  background-color: rgb(144,128,88);
}
.about {

  border: 1px solid rgb(144,128,88);

}
.about:hover h3 {
  color: #fff;
}
.about:hover {
  color: #fff;
}
.about:hover a {
  color: #fff;
}
.about i {
  font-size: 36px;
  color: rgb(144,128,88);
  margin-bottom: 0px;
}
h2 {
  font-size: 2.56rem;
  line-height: 3.916rem;
  margin: 1.78rem 0 1.424rem 0;
}
a{
  color: rgb(144,128,88);
}
#back-to-top {

  background: rgb(144,128,88);

}
h3 {
  font-size: 26px;
}


