<!-- About -->
<div id="about" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">{{'HOME.BIENVENIDA' | translate}}</h2>
      </div>
      <!-- /Section header -->

      <!-- about -->
      <div class="col-md-3">
        <div class="about">
          <i class="{{'fa fa-cogs'}}"></i>
          <h3>Ismaelillo</h3>
          <p>"Espantado de todo me refugio en ti. Tengo fe en el mejoramiento humano, en la vida futura, en la utilidad de la virtud…".</p>
          <a routerLink="/ismaelillo">{{ 'READMORE' | translate}}</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="about">
          <i class="{{'fa fa-cogs'}}"></i>
          <h3> Contenidos</h3>
          <p>"Espantado de todo me refugio en ti. Tengo fe en el mejoramiento humano, en la vida futura, en la utilidad de la virtud…".</p>
          <a routerLink="/contenidos">{{ 'READMORE' | translate}}</a>
        </div>
      </div>
      <!-- /about -->


    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /About -->
