<!-- About -->
<div id="about" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

     <main class="col-md-12" *ngIf="player">
        <div class="blog">
          <div class="blog-content">
            <a class="home" (click)="goHome()"><i class="fa fa-home home"></i> {{'LANDING.HOME' | translate}}</a>
            <vg-player (onPlayerReady)="onPlayerReady($event)">
              <vg-overlay-play></vg-overlay-play>
              <vg-buffering></vg-buffering>
              <video [vgMedia]="media" #media id="slideVideo" preload="auto" crossorigin autoplay>
                <source src="{{player.src}}" type="video/webm">
              </video>
            </vg-player>
          </div>
        </div>
     </main>

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /About -->

