<!-- Blog -->
<div id="blog" class="section md-padding bg-grey" [hidden]="searchMode && currentMode=='panelMode'" *ngIf="!readMode" [@fadeIn]="showLecture" [@fadeOut]="showLecture">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">{{ 'ISMAELILLO.TITLE' | translate }}</h2>
      </div>
      <!-- /Section header -->

      <!-- blog -->
      <div class="col-md-3" *ngFor="let item of content | paginate: { itemsPerPage: 4, currentPage: page }">
        <div class="blog">
          <div class="blog-img">
            <img class="img-responsive" src="./assets/images/{{item.img}}" alt="">
          </div>
          <div class="blog-content">
            <!--<h3 class="ismaelillo">{{ item.title  | translate }}</h3>-->
            <a class="link ismaelillo" (click)="openRead(item, !readMode, '')">{{ item.title  | translate }}</a>
          </div>
        </div>
      </div>
      <!-- /blog -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Blog -->


<!-- Row -->


<!-- Blog -->
<div id="blogr" class="section md-padding" [hidden]="searchMode && currentMode=='readMode'" *ngIf="readMode" [@fadeIn]="showLecture" [@fadeOut]="showLecture" appScrollTop>
  <div class="row" *ngIf="readItem">
    <div class="col-md-12">
      <h2 class="title">{{readItem.title}}</h2>
    </div>
  </div>
  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">
      <a (click)="openRead(undefined, !readMode, '')" ><i class="fa fa-backward"></i></a>
      <!-- Main -->
      <main id="main" class="col-md-9" [innerHtml]="readItem.content | liteSearch: searchString">
        <style>
          h3.plegable {
          font-size: 18px;
          line-height: 22px;
          margin: 1.46rem 0 1.168rem 0;
        }
        </style>

      </main>
      <!-- /Main -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div >
<!-- /Blog -->

<!-- Testimonial -->
<div id="testimonial" class="section md-padding" *ngIf="teamMode" [@fadeIn]="showLecture">

  <!-- Background Image -->
  <div class="bg-img" style="background-image: url('./assets/images/background3.jpg');">
    <div class="overlay"></div>
  </div>
  <!-- /Background Image -->

  <!-- Container -->
  <div class="container">

      <!-- Testimonial slider -->
      <div class="col-md-10 col-md-offset-1">
        <div id="testimonial-slider" class="owl-carousel owl-theme" appOwlSlider>

          <!-- testimonial -->
          <div class="testimonial" *ngFor="let item of cientificos " >
            <div class="testimonial-meta">
              <img src="./assets/images/{{item.img}}" alt="">
              <h3 class="white-text">{{item.name}}</h3>
              <span>{{item.job | translate}}</span>
            </div>
            <p class="white-text">{{item.description | translate}}</p>
          </div>
          <!-- /testimonial -->

          <!-- testimonial -->

          <!-- /testimonial -->

        </div>
      </div>
      <!-- /Testimonial slider -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->


<!-- /Testimonial -->
<!-- Blog -->
<div id="blog1" class="section md-padding" *ngIf="currentMode=='actionMode'" >

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Aside -->
      <aside id="aside" class="col-md-3">

        <!-- Search -->
        <!--<div class="widget">-->
          <!--<div class="widget-search">-->
            <!--<input class="search-input" type="text" placeholder="search">-->
            <!--<button class="search-btn" type="button"><i class="fa fa-search"></i></button>-->
          <!--</div>-->
        <!--</div>-->
        <!-- /Search -->

        <!-- Category -->
        <!--<div class="widget">-->
          <!--<h3 class="title">{{'ISMAELILLO.BOOKS' | translate}}</h3>-->
          <!--<div class="widget-category">-->
            <!--<a *ngFor="let item of books |paginate: { itemsPerPage: 5, currentPage: page }" (click)="ReadBook(item)">{{item.title}}</a>-->

          <!--</div>-->
          <!--<pagination-controls-->
            <!--(pageChange)="page = $event"-->
            <!--maxSize="5"-->
            <!--previousLabel=""-->
            <!--nextLabel=""-->
            <!--boundaryLinks="false"-->
          <!--&gt;-->

          <!--</pagination-controls>-->
        <!--</div>-->
        <!-- /Category -->

      </aside>
      <!-- /Aside -->
      <!-- Main -->
      <main id="main2" class="col-md-9">
        <div class="blog">

          <div class="blog-content">

            <!--<h3>{{currentBook.title}}</h3>-->
            <div *ngIf="isLoaded" style="text-align: center;">
              <button (click)="prevPage()" [disabled]="pointer === 1">{{'NAV.PREV' | translate}}</button>
              <span>{{ pointer }} / {{ pdfPages }}</span>
              <button (click)="nextPage()" [disabled]="pointer === pdfPages">{{'NAV.NEXT' | translate }}</button>
            </div>

            <pdf-viewer src="./assets/pdf/{{currentBook.url}}"
                        [show-all]="false"
                        [page]="pointer"
                        [render-text]="false"
                        (after-load-complete)="afterLoadComplete($event)"
            ></pdf-viewer>
          </div>
        </div>
      </main>
      <!-- /Main -->




    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Blog -->
