
.testimonial span {
  color: yellow;
}
.white-text {
  color: rgb(255, 255, 102) !important;
  font-size: 16px;
  font-weight: normal;
}

h2{
  font-size: 2.56rem;

}
h2.ismaelillo{
  margin-top: -74px;
}
.blog .blog-content{
  padding: 0;
}

.title:after {
  background-color:  rgb(144,128,88);
}
.blog .blog-content{
  text-align: center;
}
.section{
  margin-bottom: 5rem;
}
h3 {
  font-size: 16px;
  line-height: 13px;
  color: #333;
}
h3.colectivo{
  font-size: 15px !important;
  line-height: 15px;
}
h3.titulo {
  font-size: 1.92rem;
  line-height: 2.212rem;
  margin: -1rem 0 1.168rem 0;
  text-align: left;
}


a.active{
  color: #FFF;
  background-color: rgb(144,128,88);
}
a.active:hover {
  color: #FFF !important;
}
a:hover {
  color: #000;
  cursor: pointer;
}

.collection .collection-item.active {
  background-color: rgb(144,128,88);
  color: rgb(255, 255, 102);
  cursor: pointer;
  font-weight: 700;
}
.collection .collection-item.active a {

  color: rgb(255, 255, 102);

}
.collection .collection-item:hover{
  cursor: pointer;
  font-weight: 700;
}
.collection .collection-item:hover{
  cursor: pointer;
  font-weight: 700;
}
.presupuesto{
  margin-top: -16px;
}
/*@media (min-width: 992px) {*/

  /*.col-md-9 {*/
    /*width: 100%;*/
  /*}*/

/*}*/
/*@media only screen and (min-width: 993px) {*/

  /*.container {*/
    /*width: 90%;*/
  /*}*/
/*}*/
/*.btn.focus, .btn:focus, .btn:hover {*/
  /*color: whitesmoke;*/
  /*text-decoration: none;*/
/*}*/
/*.row{*/
  /*margin-bottom: -6em;*/
  /*margin-top: 4em;*/
/*}*/
/*main{*/
  /*margin-top: -2em;*/
/*}*/
/*.section.md-padding{*/
  /*margin-bottom: 1em;*/
/*}*/
/*#main2{*/
  /*margin-top: -7em;*/
/*}*/
