<!-- Blog -->
<div id="blog" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Aside -->
      <aside id="aside" class="col-md-3">

        <!-- Search -->
        <div class="widget">
          <div class="widget-search">
            <!--<input class="search-input" type="text" placeholder="search">-->
            <!--<button class="search-btn" type="button"><i class="fa fa-search"></i></button>-->
          </div>
        </div>
        <!-- /Search -->

        <!-- Category -->
        <div class="widget">
          <h3 class="title">{{'ISMAELILLO.BOOKS' | translate}}</h3>
          <div class="widget-category">
            <a *ngFor="let item of books" (click)="ReadBook(item)" [ngClass]="{'active': item.title === term.title}">{{item.title}}</a>

          </div>

        </div>
        <!-- /Category -->

      </aside>
      <!-- /Aside -->

      <!-- Main -->
      <main id="main2" class="col-md-9">
        <div class="blog">
          <!--<div class="blog-img">-->
            <!--<img class="img-responsive" src="./assets/images/blog-post.jpg" alt="">-->
          <!--</div>-->
          <div class="blog-content">

            <h3>{{term.title}}</h3>
            <div class="progress"  *ngIf="!isLoaded">
              <div class="indeterminate"></div>
            </div>
            <div *ngIf="isLoaded" style="text-align: center;">
              <button class="btn waves-effect waves-light brown" (click)="prevPage()" [disabled]="pointer === 1">{{'NAV.PREV' | translate}} &nbsp;<i class="mdi-av-skip-previous"></i></button>
              <span>{{ pointer }} / {{ pdfPages }}</span>
              <button class="btn waves-effect waves-light brown" (click)="nextPage()" [disabled]="pointer === pdfPages">{{'NAV.NEXT' | translate }} &nbsp;<i class="mdi-av-skip-next"></i></button>
            </div>

            <pdf-viewer src="./assets/pdf/{{term.url}}"
                        [show-all]="false"
                        [page]="pointer"
                        [render-text]="false"
                        (after-load-complete)="afterLoadComplete($event)"
            ></pdf-viewer>
          </div>
        </div>
      </main>
      <!-- /Main -->



    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Blog -->
