<!-- Blog -->
<div id="blog" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <div class="section-header text-center">
      <h2 class="title">{{ 'BIBLIOTECA.TITLE' | translate }}</h2>
    </div>

    <!-- Search -->
    <div class="widget">
      <div class="widget-search">
        <input class="search-input" type="text" placeholder="Buscar" (change)="FireAction($event)" (keyup)="doSearch($event)" #search>
        <button class="search-btn btn waves-effect waves-light brown" type="button" (click)="btnSearch()"><i class="fa fa-search"></i></button>
      </div>
    </div>
    <!-- /Search -->
    <!-- Row -->
    <div class="row">

    <aside id="aside" class="col-md-4">

      <div class="widget">
        <h3 class="title">{{'LIBRARY.THEMES' | translate}}</h3>
        <ul class="collapsible">
          <li>
            <div class="collapsible-header" (click)="setItem('norma')" [ngClass]="{'active': 'norma' === themeActual || themeActual.indexOf('norma') !== -1 }" >
                <i class="material-icons" *ngIf="!isOpen || themeActual.indexOf('norma') === -1">add</i><i class="material-icons" *ngIf="isOpen && themeActual.indexOf('norma') !== -1">remove</i>
                {{'LIBRARY.RULES' | translate}}
            </div>
            <div class="collapsible-body">
             <ul class="collapsible child">
                   <li *ngFor="let item of themes | wordExclude: 'articulos'" >
                  <div class="collapsible-header" (click)="setItem(item)" [ngClass]="{'active': item === themeActual }">
                      <i class="material-icons" *ngIf="!childIsOpen || item !== themeActual">add</i><i class="material-icons" *ngIf="childIsOpen && item === themeActual">remove</i> {{item | translate}}
                  </div>
                  <div class="collapsible-body">
                    <ul>
                      <li *ngFor="let item of booksShelf" [ngClass]="{'active': item.title === reader.title, 'search-result': result}">
                        <a [ngClass]="{'active': item.title === reader.title}" (click)="ReadBook(item)"  >{{item.title}}</a>

                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li *ngFor="let item of themes | wordFilter: 'articulos'"  >
            <div class="collapsible-header" (click)="setItem(item)" [ngClass]="{'active': item === themeActual }">
                <i class="material-icons" *ngIf="!isOpen || themeActual !== 'articulos'">add</i><i class="material-icons" *ngIf="isOpen && themeActual === 'articulos'">remove</i>  {{item | translate}}
            </div>
            <div class="collapsible-body">
              <ul>
                <li *ngFor="let item of booksShelf" [ngClass]="{'active': item.title === reader.title, 'search-result': result}">
                  <a [ngClass]="{'active': item.title === reader.title}" (click)="ReadBook(item)"  >{{item.title}}</a>

                </li>
              </ul>
            </div>
          </li>
        </ul>

      </div>
   </aside>

      <!-- Main -->
      <main id="main" class="col-md-8">
        <div class="blog">
          <div class="blog-content" *ngIf="reader">
            <h3>{{reader.title}}</h3>
            <div class="row border-dark">
              <div class="col-md-12">
                <div class="progress"  *ngIf="!isLoaded">
                  <div class="indeterminate"></div>
                </div>
                <div *ngIf="isLoaded" style="text-align: center;">
                  <button class="btn waves-effect waves-light brown" (click)="prevPage()" [disabled]="pointer === 1">
                    {{'NAV.PREV' | translate}} &nbsp;<i class="mdi-av-skip-previous"></i>
                  </button>
                  <span>{{ pointer }} / {{ pdfPages }}</span>
                  <button class="btn waves-effect waves-light brown" (click)="nextPage()" [disabled]="pointer === pdfPages">
                    {{'NAV.NEXT' | translate }}&nbsp;<i class="mdi-av-skip-next"></i>
                  </button>
                </div>
                <pdf-viewer src="./assets/pdf/{{reader.url}}"
                            [show-all]="false"
                            [page]="pointer"
                            [render-text]="false"
                            (after-load-complete)="afterLoadComplete($event)"
                ></pdf-viewer>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- /Main -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Blog -->
