
.ng2-pdf-viewer-container[_ngcontent-c6], .ng2-pdf-viewer-container
{
  overflow: inherit !important;
}

.search-result{
  color: #795548 !important;
  text-decoration: underline;
}

.search-result a {
  color: #795548 !important;
}

.widget a{
  cursor: pointer;
}

.btn.focus, .btn:focus, .btn:hover {
  color: whitesmoke;
  text-decoration: none;
}
.title:after {

  background-color: rgb(144,128,88);

}
.ngx-pagination .current {

  background: rgb(144,128,88);

}
.widget-tags a:hover {
  color: yellow;
  background-color: rgb(144,128,88);
}

h3.title{
  text-transform: uppercase;
  margin-top: 1.5em;
}
li{
  border-bottom: 1px solid #ccc;
  margin-bottom: 0px;
}
.collapsible-header {
  border-bottom: 1px solid transparent;
  padding: 0 0.5rem;
}
