<div id="blog" class="section md-padding">

  <!-- Container -->
  <div class="container">
<div class="row creditsRow">
  <div class="col-twelve " >
    <div class="row">
      <div class="col-twelve creditos-left" >
        <h4 class="creditos text-center">EQUIPO DE REALIZACIÓN</h4>

      </div>
      <div class="espacio"></div>
    </div>
    <div class="row">
      <div class="col-twelve">
        <p class="resaltar">LÍDER DE PROYECTO</p>
        <p class="responsable">Mayling Mirabal Olivera</p>
      </div>
    </div>
    <div class="row">
      <div class="col-twelve">
        <p class="resaltar">DISEño</p>
        <p class="responsable">Marcos Javier Nicanor Hernández</p>
        <p class="responsable">Yelena Islen San Juan</p>
      </div>
    </div>
    <div class="row">
      <div class="col-twelve">
        <p class="resaltar">PROGRAMACIÓN</p>
        <p class="responsable">Yelena Islen San Juan</p>
      </div>
    </div>

    <div class="row">
      <div class="col-twelve">
        <p class="resaltar">CALIDAD</p>
        <p class="responsable">Hissel Lamanier Regueiferos</p>
      </div>
    </div>
    <div class="row">
      <div class="col-twelve">
        <p class="resaltar">Gestión  de la calidad y auditoría</p>
        <p class="responsable">Mercedes María Sosa Hernández</p>
        <p class="responsable" >Anays Gómez García</p>

      </div>
    </div>


  </div>



</div>
<div style="padding-bottom: 40px"></div>
<div class="row creditsRow"><div class="col-twelve text-center"> ©COPYRIGHT CITMATEL<span style="font-size: 20px; margin-top: 5px">®</span>, 2018 <br>Todos los derechos reservados</div></div>

</div>
  </div>
