h3.plegable {
  font-size: 17px;
  line-height: 22px;
  margin: 1.46rem 0 1.168rem 0;
  float: left;
}
tr {
  border-bottom: 1px solid rgb(144,128,88)!important;
}
h4 {
  font-size: 1.3rem !important;
}

/* You can add global styles to this file, and also import other style files */
.preloader span {
  display: inline-block;
  background-color: rgb(144,128,88);
  width: 25px;
  height: 25px;
  -webkit-animation: 1s preload ease-in-out infinite;
  animation: preload 1s ease-in-out infinite;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  border-radius:50%;
}
