body{
  -webkit-user-select: none ;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vg-player {

  margin-top: -96px;
}
h3.plegable {
  font-size: 23px;
  line-height: 2.212rem;
  margin: 1.46rem 0 1.168rem 0;
  float: left;
}
.white-text {
  color: rgb(255, 255, 102) !important;
}

.main-nav>li>a {
  color: rgb(255, 255, 102) !important;
  font-size: 17px;
}
.main-nav>li>a:active {
  color: rgb(255, 255, 102) !important;
  font-weight: 700 !important;
  text-decoration: underline !important;

}
.main-nav>li>a:hover {
  color: rgb(255, 255, 102) !important;
  font-weight: 700;
  text-decoration: underline;

}
.men1{
  color: #ffffff;
  background-color: rgb(144,128,88);
  padding: 5px;
}
.men1:hover{
  opacity: 0.6;
  color: #ffffff;
}

tr {
  border-bottom: 1px solid rgb(144,128,88)!important;
}
h4 {
  font-size: 1.3rem !important;
}

/* You can add global styles to this file, and also import other style files */
.preloader span {
  display: inline-block;
  background-color: rgb(144,128,88);
  width: 25px;
  height: 25px;
  -webkit-animation: 1s preload ease-in-out infinite;
  animation: preload 1s ease-in-out infinite;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  border-radius:50%;
}
h3 {
  font-size: 23px !important;
  line-height: 2.212rem;
  margin: 1.46rem 0 1.168rem 0;
  text-transform: uppercase !important;
}
p {
  margin: 0 0 5px;
padding-bottom: 15px;
  }

strong {
  font-weight: 500;
  float: left;
}

.ngx-pagination .current {
  padding: 0.2875rem 0.625rem;
  background: rgb(144,128,88)!important;
  color: #fefefe;
  cursor: default;
}
.canvasWrapper{
  border: 1px solid rgb(144,128,88)!important;
}
h2 {
  font-size: 2.56rem !important;
}
.section-header {
  margin-bottom: 30px;
  margin-top: 90px;
}
.search-input:focus{
  border-bottom: 1px solid rgb(144,128,88)!important;
  box-shadow: 0 1px 0 0 #ccc !important;
}

.widget-tags a{
  font-size: 1em;
}
.progress {


  background-color: rgb(144,128,88);
}
.progress .indeterminate {
  background-color: rgb(255, 255, 102);
}
::selection{
  background-color: #fff;
  color: #000;
}
#footer {

  height: 174px;
}
.footer-copyright p {

  margin-top: -18px;
}
.section-header .title{
  text-transform: none;
}
.widget-category a{
  font-size: 1.1rem !important;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a.active {
  color: #FFF;
  background-color: rgb(144,128,88);
}
a:hover{
  color: rgb(144,128,88);
  cursor: pointer;
}
.ngx-pagination .disabled {
  padding: 1.1875rem 0.625rem !important;
  color: #cacaca;
  cursor: default;
}
.ngx-pagination a:hover, .ngx-pagination button:hover {
  background: rgb(144,128,88) !important;
  opacity: 0.7;
  color: #fff;
}
/*css para el collapsible*/

a.active{
  color: #FFF;
  background-color: rgb(144,128,88);
}
a.active:hover {
  background-color: rgb(144,128,88);
  opacity: 0.6;
  color: #fff;
}
div.active{
  color: rgb(255, 255, 102) !important;
  font-size: 17px;
  font-weight: 700;
  background-color: rgb(144,128,88);
}
.collapsible-header:hover {
  font-size: 17px;
  font-weight: 700;
}
li.contenidos{
  border-bottom: 1px solid #ccc;
  margin-bottom: 12px;
}
.owl-carousel.owl-drag .owl-item{
  background-color: transparent !important;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: rgb(255, 255, 102);
}
.owl-theme .owl-dots .owl-dot:hover span {
  background: rgb(255, 255, 102);
}
.vg-player {

  margin-top: -82px !important;
}

@media (min-width: 992px) {

  .col-md-12[_ngcontent-c3] {
    width: auto;
    margin-top: -45px;
  }
}
@media only screen and (min-width: 993px) {

  .container {
    width: 95%;
  }
}
