
a.active:hover {
  color: #FFF !important;
  background-color: rgb(144,128,88);
}
.ng2-pdf-viewer-container[_ngcontent-c6], .ng2-pdf-viewer-container
{
  overflow: inherit !important;
}

.search-result{
  font-weight: 900;
  text-decoration: underline;
}

.widget a{
  cursor: pointer;
}

.btn.focus, .btn:focus, .btn:hover {
  color: whitesmoke;
  text-decoration: none;
}
h3.titulo {
  font-size: 1.92rem;
  line-height: 2.212rem;
  margin: 0rem 0 1.168rem 53px;
}
h3.titulo1{
  font-size: 1.92rem;
  line-height: 2.212rem;
  margin: -1rem 0 1.168rem 53px;
}
.title:after {

  background-color: rgb(144,128,88);

}
.ngx-pagination .current {

  background: rgb(144,128,88);

}
.widget-tags a:hover {
  color: yellow;
  background-color: rgb(144,128,88);
}


li{
  border-bottom: 1px solid #ccc;
  margin-bottom: 0px;
}
/*css de collas*/
div.active {
  color: #FFF;
  background-color: rgb(144,128,88);
}
.collapsible /deep/ div.active, .collapsible-header:hover  {
  font-size: 16px;
}
