<div id="blog" class="section md-padding">
  <div class="container">
        <div class="row">
          <div class="section-header text-center">
            <h2 class="title">{{ 'QUESTION.TITLE' | translate }}</h2>
          </div>
          <aside id="aside" class="col-md-3">
            <h3 class="title">{{'QUESTION.QUESTION' | translate}}</h3>
            <div class="widget">
              <div class="widget-category">
                <a *ngFor="let item of questions  | paginate: { itemsPerPage: 5, currentPage: page, totalItems: questions.length, id:'question'  }" (click)="Selecter(item)" [ngClass]="{'active': item.title === i.title}">{{item.title}}</a>

              </div>
              <pagination-controls
                (pageChange)="page = $event"
                id="question"
                maxSize="5"
                previousLabel=""
                nextLabel=""></pagination-controls>
                </div>

            <div class="widget" *ngIf="books.length>0">
              <h5 class="title">{{'QUESTION.BOOKS' | translate}}</h5>
              <div class="widget-category">
                <a *ngFor="let item of books |paginate: { itemsPerPage: 5, currentPage: page1, totalItems: books.length, id: 'books'  }"
                   (click)="ReadBook(item)"
                   [ngClass]="{'active': item.title === reader.title}" >{{item.title}}
                </a>
              </div>
            </div>
            <pagination-controls
              *ngIf="books.length>0"
              (pageChange)="page1 = $event"
              id="books"
              maxSize="5"
              previousLabel=""
              nextLabel=""
              boundaryLinks="false"
            >

            </pagination-controls>
          </aside>

          <div class="col-md-9" *ngIf="i" [hidden]="readMode">
            <div class="card" >
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">{{i.subtitle}} &nbsp;<a class="btn-floating waves-effect waves-light green"><i class="mdi-action-spellcheck right"></i></a></span>
                 <div *ngIf="i.type === 'checkbox'">
                  <ul class="collection">
                    <li class="collection-item" *ngFor="let answer of i.items">
                      <div class="switch">
                        <label [ngClass]="{ 'error': answer.resource ==='F', 'check': answer.resource === 'T' }">{{answer.name}}<input type="checkbox" (change)="checkAnswer(answer,$event)"><span class="lever"></span></label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div *ngIf="i.type=== 'dragdrop'">
                  <div class="row">
                    <div class="col-md-4">
                      <ul>
                        <li draggable [dragScope] = "p" [dragData]="p" *ngFor="let p of i.posible">{{p}}</li>
                      </ul>
                    </div>
                    <div class="col-md-8">
                      <div droppable [dropScope] = "answer.values" *ngFor="let answer of i.items" (onDrop)="onItemDrop($event, answer)">
                        <p>{{ answer.name }}</p><br>
                         <ul class="collection" *ngIf="answer.dropped">
                          <li class="collection-item" *ngFor="let a of answer.dropped">{{a}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{i.title}}<i class="mdi-navigation-close right"></i></span>
                <p [innerHtml]="i.description"></p>
              </div>
            </div>
          </div>
          <!-- Main -->
          <main id="main" class="col-md-9" [hidden]="!readMode">
            <div class="blog">
              <div class="blog-content" *ngIf="reader">
                <div class="row border-dark">
                  <div class="col-md-12">
                    <div class="progress"  *ngIf="!isLoaded">
                      <div class="indeterminate"></div>
                    </div>
                    <div *ngIf="isLoaded" style="text-align: center;">
                      <button class="btn waves-effect waves-light brown" (click)="prevPage()" [disabled]="pointer === 1">
                        {{'NAV.PREV' | translate}} &nbsp;<i class="mdi-av-skip-previous"></i>
                      </button>
                      <span>{{ pointer }} / {{ pdfPages }}</span>
                      <button class="btn waves-effect waves-light brown" (click)="nextPage()" [disabled]="pointer === pdfPages">
                        {{'NAV.NEXT' | translate }}&nbsp;<i class="mdi-av-skip-next"></i>
                      </button>
                    </div>
                    <pdf-viewer src="./assets/pdf/{{reader.url}}"
                                [show-all]="false"
                                [page]="pointer"
                                [render-text]="false"
                                (after-load-complete)="afterLoadComplete($event)"
                    ></pdf-viewer>
                  </div>
                </div>
              </div>
            </div>
          </main>
          <!-- /Main -->
        </div>
    </div>
</div>
