label{
  font-size: 1.1rem;
}
label.error{
  color: red;
}
label.check{
  color: green;
}

a.active{
  color: #FFF;
  background-color:rgb(144,128,88);
}
.widget-category a.active:hover{
  color: #FFF;
  background-color:rgb(144,128,88);
}

.widget a{
  cursor: pointer;
}

.btn.focus, .btn:focus, .btn:hover {
  color: whitesmoke;
  text-decoration: none;
}
.title:after {

  background-color: rgb(144,128,88);

}
.ngx-pagination .current {

  background: rgb(144,128,88);

}
.widget-category a{
  font-size: 1em !important;
}
.widget-category a:hover{
 color:  rgb(144,128,88);
}
.drop{
  border: 1px solid rgb(144,128,88);
  height: auto;
}
.drag-target-border{
  border: 1px solid cyan;
}
.drag-target-color{
  color: #5d4037;
}
li.preguntas{
  border-bottom: 1px solid #ccc;
  text-transform: lowercase;
}
li.preguntas::first-letter{
  text-transform: capitalize;
}
.dragClass{
  background-color:  rgb(144,128,88);
  color: #fff;
}
.drag-class{
  cursor: pointer;
}
.dragTransitClass{
  color: rgb(255, 255, 102);
  background-color:  rgb(144,128,88);
}
.card .card-content .card-title {
  line-height: 33px;
}
.prev1 .next1{
  color: rgb(144,128,88);
  font-size: 1.5rem;
}
.next1{
  color: rgb(144,128,88);
  font-size: 1.5rem;
}
.collapsible-header {

  border-bottom: 1px solid #ddd;
}
