label{
  font-size: 1.1rem;
}
label.error{
  color: red;
}
label.check{
  color: green;
}

a.active{
  color: #FFF;
  background-color:rgb(144,128,88);
}
.widget-category a.active:hover{
  color: #FFF;
  background-color:rgb(144,128,88);
}

.widget a{
  cursor: pointer;
}

.btn.focus, .btn:focus, .btn:hover {
  color: whitesmoke;
  text-decoration: none;
}
.title:after {

  background-color: rgb(144,128,88);

}
.ngx-pagination .current {

  background: rgb(144,128,88);

}
.widget-category a{
  font-size: 1em !important;
}
.widget-category a:hover{
 color:  rgb(144,128,88);
}
